.dashboard-buttons{
display:flex;
flex-direction:column;
gap:15px;
margin-top:25px;
}

.dashboard-buttons .btn{
display:block;
width:100%;
padding:14px;
background:#2f66e0;
color:white;
text-decoration:none;
border-radius:10px;
text-align:center;
font-weight:bold;
}

.dashboard-buttons .btn:hover{
background:#1d4ed8;
}

.logout{
background:#e53935 !important;
}

.logout:hover{
background:#c62828 !important;
}
